<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">{{information.name}}</span>
            <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2"
                    src="assets/img/profile.jpg" alt="..." /></span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests" hidden>Interests</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards" hidden>Awards</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid p-0">
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    Tran Thi Truc
                    <span class="text-primary">Anh</span>
                </h1>
                <h4>
                    <span class="text-primary margin-left-sixteen-percent">
                        A Quality Control Engineer
                    </span>
                </h4>

                <div class="subheading mb-3">
                    {{information.address}} <br /> <a href="tel:{{information.phone}}"
                        class="text-primary">{{information.phone}}</a>,
                    <a href="mailto:{{information.email}}" style="color: blue;"> {{information.email}}</a>
                </div>
                <p class="lead mb-5">{{information.coverInfo}}</p>
                <div class="social-icons">
                    <a class="social-icon" href="{{social.linkedin}}" target="_blank"><i
                            class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" href="#!" hidden><i class="fab fa-github"></i></a>
                    <a class="social-icon" href="#!" hidden><i class="fab fa-twitter"></i></a>
                    <a class="social-icon" href="{{social.resume}}" target="_blank" title="download resume"><i
                            class="fa fa-file" aria-hidden="true"></i></a>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <section class="resume-section" id="experience">
            <div class="resume-section-content">
                <h2 class="mb-5">Experience</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Vinova Pte. Ltd</h3>
                        <div class="mb-3"><b>Localtion:</b> 28/14 Le Thi Hong Street, Ward 7, Go Vap District, Ho Chi
                            Minh City, Vietnam</div>
                        <div class="subheading mb-3">Quality Control Lead</div>
                        <div class="mb-3"><b>Responsibilities:</b>
                            <ul class="fa-ul mb-3">
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    Training technical
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    Mentor member
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    Assigning project
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    Management team
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    Team development orientation
                                </li>
                            </ul>
                        </div>
                        <div class="subheading mb-3">Quality Control</div>
                        <div><b>Project:</b> Gofix FM</div>
                        <div><b>Project Description:</b>
                            GOfix is the handyman services partner that you can trust.
                            We offer aircon servicing and repairs, electrical outlet repairs and installation, plumbing
                            and home improvement services.
                            As a service brand under EM Services Pte Ltd, GOfix is built on the value and experience
                            from over 30 years of facilities management and community building in Singapore.
                            Our team of efficient and experienced GOfixers pledge to carry out their service to you with
                            Professionalism, Integrity and Care.
                        </div>
                        <div><b>Team size:</b> 9 (6 devs, 2 QCs, and 1 PM)</div>
                        <ng-container>
                            <div><b>Responsibilities:</b>
                                <ul class="fa-ul mb-0" *ngFor="let i of vinova.responsibilities">
                                    <li>
                                        <span class="fa-li"><i class="fas fa-check"></i></span>
                                        {{i}}
                                    </li>
                                </ul>
                            </div>
                            <div><b>Other projects:</b> NYP, TB Marine, Sugar OKRs</div>
                        </ng-container>

                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">Nov 2019 - present</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">AES Technologies</h3>
                        <div><b>Localtion:</b> Bcons Tower, 167A Nguyen Van Thuong Street, Ward 25, Binh Thanh District,
                            Ho Chi
                            Minh City, Vietnam</div>
                        <div class="subheading mb-3">Quality Control</div>
                        <div>
                            <b>Projects:</b>
                            <span *ngFor="let i of aes.projects">
                                <a href="{{i.link}}" target="_blank"> {{i.name}} </a>
                            </span>
                        </div>
                        <div><b>Project Description:</b>
                            Savills Vietnam is the largest and most experienced real estate practice with offices in
                            Hanoi and Ho Chi Minh City.
                            The company provides comprehensive property services such as: Residential Sales, Commercial
                            Leasing, Residential
                            Leasing, Research & Consultancy, Valuation & Feasibility Study, Banking & Corporate
                            Services, Investment Brokerage &
                            Advisory, Retail Consultancy & Leasing, Property & Asset Management, Tenant Advisory &
                            Representation, Industrial
                            Consultancy & Leasing, Marketing & Creative services. Savills Vietnam had been continuously
                            recognised in
                            prestigious and credible property award programmes before stopping its participation in 2017
                            and redirecting the
                            award fees to “Savills Cares” fund as a part of Corporate Social Responsibility (CSR)
                            campaign to better benefit
                            local people and charities.
                            Currently, Savills Vietnam consists of over 2,000 experienced and professional staff
                            nationwide and keep expanding
                            further.
                        </div>
                        <div><b>Team size:</b> 7 (5 devs, 1 QC, and 1 PM)</div>
                        <ng-container>
                            <div><b>Responsibilities:</b>
                                <ul class="fa-ul mb-0" *ngFor="let i of aes.responsibilities">
                                    <li>
                                        <span class="fa-li"><i class="fas fa-check"></i></span>
                                        {{i}}
                                    </li>
                                </ul>
                            </div>
                        </ng-container>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">Nov 2018 - Aug 2019</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Thái Sơn Soft Co .,Ltd</h3>
                        <div><b>Localtion:</b> 33A Cuu Long Street, Ward 2, Tan Binh District, Ho Chi Minh City, Vietnam
                        </div>
                        <div class="subheading mb-3">Techical Support Staff</div>
                        <div>
                            <b>Projects:</b>
                            <span *ngFor="let i of thaison.projects">
                                <a href="{{i.link}}" target="_blank"> {{i.name}} </a>
                            </span>
                        </div>
                        <div><b>Project Description:</b>
                            eBH is an electronic social insurance declaration software officially deployed under the
                            IVAN model signed by the Vietnam Social Insurance No. 04092015/HD-BHXH-TSD on September 7,
                            2015.
                            eBH software supports businesses to make records and perform transactions related to the
                            operations of Vietnam social insurance in accordance with the provisions of Decision No.
                            08/2015/QD-TTg of the Prime Minister dated 09 -03-2015 on piloting electronic transactions
                            in carrying out procedures for participation in social insurance, health insurance,
                            unemployment insurance, application for issuance of insurance books, health insurance cards
                            and Decision No. 763/QD-BHXH dated July 10, 2015 of the General Director of Vietnam Social
                            Insurance on promulgating regulations on dossiers, procedures and registration process for
                            providing I-VAN services.
                        </div>
                        <div><b>Team size:</b> 30 technical supporters</div>
                        <ng-container>
                            <div><b>Responsibilities:</b>
                                <ul class="fa-ul mb-0" *ngFor="let i of thaison.responsibilities">
                                    <li>
                                        <span class="fa-li"><i class="fas fa-check"></i></span>
                                        {{i}}
                                    </li>
                                </ul>
                            </div>
                        </ng-container>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">Feb 2015 - Aug 2018</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Education-->
        <section class="resume-section" id="education">
            <div class="resume-section-content">
                <h2 class="mb-5">Education</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Saigon University</h3>
                        <div class="subheading mb-3">Bachelor of degree</div>
                        <div>Business Administration and Management, General</div>
                    </div>

                    <div class="flex-shrink-0">
                        <span class="text-primary">August 2010 - May 2013</span>
                    </div>

                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Skills-->
        <section class="resume-section" id="skills">
            <div class="resume-section-content">
                <h2 class="mb-5">Skills</h2>
                <div class="subheading mb-3">Tools</div>
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item"><i class="fab fa-git"></i></li>
                    <li class="list-inline-item"><img src='assets/img/postgresql.png' width="48" height="48" /></li>
                    <li class="list-inline-item"><img src='assets/img/jmeter.png' width="48" height="48" /></li>
                    <li class="list-inline-item"><img src='assets/img/postman.png' width="48" height="48" /></li>
                    <li class="list-inline-item"><img src='assets/img/swagger.png' width="48" height="48" /></li>
                    <li class="list-inline-item"><img src='assets/img/trello.png' width="48" height="48" /></li>
                </ul>
                <div class="subheading mb-3">Workflow</div>
                <ng-container>
                    <ul class="fa-ul mb-3">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Manage teams
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Teamwork and collaboration
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Training team
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Agile development & Scrum
                        </li>
                    </ul>
                </ng-container>
                <div class="subheading mb-3">Technical SKILLS</div>
                <ng-container>
                    <ul class="fa-ul mb-3">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Write test cases
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Regression testing
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Integration testing
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            System testing
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            API testing
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Load testing
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Data testing
                        </li>
                    </ul>
                </ng-container>

                <div class="subheading mb-3">Soft skills</div>
                <ng-container>
                    <ul class="fa-ul mb-3">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Time management
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Business communication
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Self-study and reseach document
                        </li>
                    </ul>
                </ng-container>
            </div>
        </section>
        <hr class="m-0" />
    </div>
</body>