<body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">{{information.name}}</span>
            <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2"
                    src="assets/img/profile.jpg" alt="..." /></span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experience</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Education</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Skills</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests" hidden>Interests</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards" hidden>Awards</a></li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid p-0">
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    Tran Thi Truc
                    <span class="text-primary">Anh</span>
                </h1>
                <h4>
                    <span class="text-primary margin-left-sixteen-percent">
                        A Quality Control Engineer
                    </span>
                </h4>

                <div class="subheading mb-3">
                    {{information.address}} <br /> <a href="tel:{{information.phone}}"
                        class="text-primary">{{information.phone}}</a>,
                    <a href="mailto:{{information.email}}" style="color: blue;"> {{information.email}}</a>
                </div>
                <p class="lead mb-5">{{information.coverInfo}}</p>
                <div class="social-icons">
                    <a class="social-icon" href="{{social.linkedin}}" target="_blank"><i
                            class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" href="#!" hidden><i class="fab fa-github"></i></a>
                    <a class="social-icon" href="#!" hidden><i class="fab fa-twitter"></i></a>
                    <a class="social-icon" href="{{social.resume}}" target="_blank" title="download resume"><i
                            class="fa fa-file" aria-hidden="true"></i></a>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <section class="resume-section" id="experience">
            <div class="resume-section-content">
                <h2 class="mb-5">Experience</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Vinova Pte. Ltd</h3>
                        <div class="mb-3"><b>Location:</b> 28/14 Le Thi Hong Street, Ward 7, Go Vap District, Ho Chi
                            Minh City, Vietnam</div>
                        <div class="subheading mb-3 text-primary">Quality Control Lead</div>
                        <div class="mb-3"><b>Responsibilities:</b>
                            <ul class="fa-ul mb-3">
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    Training team
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    Mentor member
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    Assigning project
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    Management team
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    Team development orientation
                                </li>
                                <li>
                                    <span class="fa-li"><i class="fas fa-check"></i></span>
                                    Report to CEO
                                </li>
                            </ul>
                        </div>
                        <div class="subheading mb-3 text-primary">Quality Control</div>
                        <div><b>Project:</b> Gofix FM</div>
                        <div><b>Project Description:</b>
                            GOfix is a company that offers aircon servicing and repairs, electrical
                            outlet repairs and installation, plumbing and home improvement services, and facilities
                            management and community building in Singapore
                        </div>
                        <div><b>Team size:</b> 9 (PM: 1, Dev: 6, QC: 2)</div>
                        <ng-container>
                            <div><b>Responsibilities:</b>
                                <ul class="fa-ul mb-0" *ngFor="let i of vinova.responsibilities">
                                    <li>
                                        <span class="fa-li"><i class="fas fa-check"></i></span>
                                        {{i}}
                                    </li>
                                </ul>
                            </div>
                            <div><b>Other projects:</b> NYP, TB Marine, Sugar OKRs, Engine, Cortishare, Soundfy</div>
                        </ng-container>

                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">Nov 2019 - present</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">AES Technologies</h3>
                        <div><b>Location:</b> Bcons Tower, 167A Nguyen Van Thuong Street, Ward 25, Binh Thanh District,
                            Ho Chi
                            Minh City, Vietnam</div>
                        <div class="subheading mb-3 text-primary">Quality Control</div>
                        <div>
                            <b>Projects:</b>
                            <span *ngFor="let i of aes.projects">
                                <a href="{{i.link}}" target="_blank"> {{i.name}} </a>
                            </span>
                        </div>
                        <div><b>Project Description:</b>
                            Savills is a real estate company that provides comprehensive property
                            services such as Residential Sales, Commercial Leasing, Residential,...
                        </div>
                        <div><b>Team size:</b> 7 (PM: 1, Dev: 5, QC:1)</div>
                        <ng-container>
                            <div><b>Responsibilities:</b>
                                <ul class="fa-ul mb-0" *ngFor="let i of aes.responsibilities">
                                    <li>
                                        <span class="fa-li"><i class="fas fa-check"></i></span>
                                        {{i}}
                                    </li>
                                </ul>
                            </div>
                        </ng-container>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">Nov 2018 - Aug 2019</span></div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Thai Son Soft Co .,Ltd</h3>
                        <div><b>Location:</b> 33A Cuu Long Street, Ward 2, Tan Binh District, Ho Chi Minh City, Vietnam
                        </div>
                        <div class="subheading mb-3 text-primary">Technical Support Staff</div>
                        <div>
                            <b>Projects:</b>
                            <span *ngFor="let i of thaison.projects">
                                <a href="{{i.link}}" target="_blank"> {{i.name}} </a>
                            </span>
                        </div>
                        <div><b>Project Description:</b>
                            eBH software supports businesses to make records and perform
                            transactions related to the operations of Vietnam social insurance
                        </div>
                        <div><b>Team size:</b> 30 technical supporters</div>
                        <ng-container>
                            <div><b>Responsibilities:</b>
                                <ul class="fa-ul mb-0" *ngFor="let i of thaison.responsibilities">
                                    <li>
                                        <span class="fa-li"><i class="fas fa-check"></i></span>
                                        {{i}}
                                    </li>
                                </ul>
                            </div>
                        </ng-container>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">Feb 2015 - Aug 2018</span></div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Education-->
        <section class="resume-section" id="education">
            <div class="resume-section-content">
                <h2 class="mb-5">Education</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Saigon University</h3>
                        <div class="subheading mb-3">Bachelor of degree</div>
                        <div>Business Administration</div>
                    </div>

                    <div class="flex-shrink-0">
                        <span class="text-primary">August 2010 - Jul 2013</span>
                    </div>

                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Skills-->
        <section class="resume-section" id="skills">
            <div class="resume-section-content">
                <h2 class="mb-5">Skills</h2>
                <div class="subheading mb-3">Tools</div>
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item"><i class="fab fa-git"></i></li>
                    <li class="list-inline-item"><img src='assets/img/postgresql.png' width="48" height="48" /></li>
                    <li class="list-inline-item"><img src='assets/img/jmeter.png' width="48" height="48" /></li>
                    <li class="list-inline-item"><img src='assets/img/postman.png' width="48" height="48" /></li>
                    <li class="list-inline-item"><img src='assets/img/swagger.png' width="48" height="48" /></li>
                    <li class="list-inline-item"><img src='assets/img/trello.png' width="48" height="48" /></li>
                </ul>
                <div class="subheading mb-3">Workflow</div>
                <ng-container>
                    <ul class="fa-ul mb-3">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Manage team
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Teamwork and collaboration
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Training team
                        </li>
                    </ul>
                </ng-container>
                <div class="subheading mb-3">Technical SKILLS</div>
                <ng-container>
                    <ul class="fa-ul mb-3">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Regression testing
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Integration testing
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            System testing
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Performance Testing
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            End to end testing
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            API testing
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Load testing
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Data testing
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Functional testing
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Write test cases
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Technical design test case: equivalence partitioning, eoundary value analysis, decision
                            table testing, state transition testing
                        </li>
                    </ul>
                </ng-container>

                <div class="subheading mb-3">Soft skills</div>
                <ng-container>
                    <ul class="fa-ul mb-3">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Time management
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Business communication
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Self-study and reseach document
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Prioritizing tasks
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Problem resolving
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Creativative
                        </li>
                    </ul>
                </ng-container>
            </div>
        </section>
        <hr class="m-0" />
    </div>
</body>